/* css styles */

/* Apply background color to the entire page */

body {
<<<<<<< HEAD
 /* background-image: url("images/background.jpeg");*/
 /*  background-size: cover;*/
 /*  background-repeat: no-repeat;*/
  /* background-position: center center;*/
  /* background-attachment: fixed; */
  background-color: #e5e4e2
=======
  background-image: url("images/background.jpeg");*/
  background-size: cover;*/
  background-repeat: no-repeat;*/
  background-position: center center;*/
  background-attachment: fixed; */
  background-color: #e5e4e2
>>>>>>> 2f6bfed8715c51aa688368fcb97a2df01d717725
}


/* Optional: add padding and rounded corners to main content */
main.content {
  background-color: #f5f5f5;
  padding: 2rem;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}


/* Nav bar logo size */
.navbar-logo {
  max-height: 80px;
}




